In [3]:
import pandas as pd
import numpy as np

exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas', "Elias", 'Myriam'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan , 8, 19, 20, 16],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, np.nan ,1, 3, 2],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no',np.nan , 'yes', 'yes', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l']
df = pd.DataFrame(exam_data,index=labels)
df.head(3)

        name  score  attempts qualify
a  Anastasia   12.5       1.0     yes
b       Dima    9.0       3.0      no
c  Katherine   16.5       2.0     yes

In [ ]:
#Extract the 'name' and 'score' columns from the DataFrame.

In [5]:
df1 = df[['name','score']]
print(df1)

        name  score
a  Anastasia   12.5
b       Dima    9.0
c  Katherine   16.5
d      James    NaN
e      Emily    9.0
f    Michael   20.0
g    Matthew   14.5
h      Laura    NaN
i      Kevin    8.0
j      Jonas   19.0
k      Elias   20.0
l     Myriam   16.0

In [ ]:
#Write a Pandas program to delete the 'attempts' column from the DataFrame.

In [6]:
df2 = df.drop('attempts', axis=1)
print(df2)

        name  score qualify
a  Anastasia   12.5     yes
b       Dima    9.0      no
c  Katherine   16.5     yes
d      James    NaN      no
e      Emily    9.0      no
f    Michael   20.0     yes
g    Matthew   14.5     yes
h      Laura    NaN      no
i      Kevin    8.0     NaN
j      Jonas   19.0     yes
k      Elias   20.0     yes
l     Myriam   16.0     yes

In [ ]:
#Add a new column "Success" : if the score is higher than 10 we will have 1 else we will have 0

In [18]:
def Success(c):
    if c['score'] > 10:
        return 1 
    else:
        return 0
df2['Success'] = df2.apply(Success, axis=1)
print(df2)

        name  score qualify  Success
a  Anastasia   12.5     yes        1
b       Dima    9.0      no        0
c  Katherine   16.5     yes        1
d      James    NaN      no        0
e      Emily    9.0      no        0
f    Michael   20.0     yes        1
g    Matthew   14.5     yes        1
h      Laura    NaN      no        0
i      Kevin    8.0     NaN        0
j      Jonas   19.0     yes        1
k      Elias   20.0     yes        1
l     Myriam   16.0     yes        1

In [ ]:
#After executing the final dataframe, export it into csv file named "my_data"

In [21]:
df2.to_csv('my_data.csv')

   Unnamed: 0       name  score qualify  Success
0           a  Anastasia   12.5     yes        1
1           b       Dima    9.0      no        0
2           c  Katherine   16.5     yes        1
3           d      James    NaN      no        0
4           e      Emily    9.0      no        0
5           f    Michael   20.0     yes        1
6           g    Matthew   14.5     yes        1
7           h      Laura    NaN      no        0
8           i      Kevin    8.0     NaN        0
9           j      Jonas   19.0     yes        1
10          k      Elias   20.0     yes        1
11          l     Myriam   16.0     yes        1