Objective
In this checkpoint, we'll manipulate Hadoop Pig & Hive using the knowledge acquired in this chapter, 

Instructions
Hive

1. Create a book table where the schema is as follows: : (id INT, title STRING, publishDate STRING)

2. import data from the file /checkpoint/books/books.txt (stored locally) in the book table.

3. display the records where the id is 2. 

4. Create a new sales table in the following HDFS location:‘/user/cloudera/checkpoint’

The sales table contains 3 columns : (id INT, buyer STRING, purchaseDate STRING) 

5. Display 5 rows of the sales table.

6. Create the table book_sale with the following fields:(id INT, title STRING, buyer STRING, purchaseDate STRING) 

7. Fill the book-sale table using a joint according to column id among the tables: books and sale.

8. Show 10 records of the table book_sale.

9. Delete book tables, sales, and book_sale.


PIG

The proposed data game is based on movies. We have two files: the list of movies and the list of arts.

1. Copy the two files ‘artists.json’ and ‘movies.json’ under HDFS.

2. Load the two files using JsonLoader

3. Display the list of American films by year (show the year and the names of movies)

4. Display each director’s list of American films

5. Display the triplets (idFilm, idActeur, role)

6. Display for each film the complete descriptions of its actors

7. Show for each film the number of its actors

In [ ]:
1. Create a book table where the schema is as follows: : (id INT, title STRING, publishDate STRING)

In [ ]:
CREATE TABLE book (id INT, title STRING, publishDate STRING)
ROW FORMAT DELIMITED
FIELDS TERMINATED BY','
STORED AS TEXTFILE;

In [ ]:
2. import data from the file /checkpoint/books/books.txt (stored locally) in the book table.

In [ ]:
LOAD DATA LOCAL INPATH '/checkpoint/books/books.txt'
OVERWRITE INTO TABLE book;

3. display the records where the id is 2.

In [ ]:
select * from book where id=2;

4. Create a new sales table in the following HDFS location:‘/user/cloudera/checkpoint’

The sales table contains 3 columns : (id INT, buyer STRING, purchaseDate STRING)

In [ ]:
CREATE EXTERNAL TABLE sales (id INT, buyer STRING, purchaseDate STRING)
ROW FORMAT DELIMITED
FIELDS TERMINATED BY'\t'
STORED AS TEXTFILE
LOCATION '/user/cloudera/checkpoint';

5. Display 5 rows of the sales table.

In [ ]:
select * from sales limit 5;

6. Create the table book_sale with the following fields:(id INT, title STRING, buyer STRING, purchaseDate STRING)

In [2]:
CREATE TABLE book_sale (id INT, title STRING,buyer STRING, publishDate STRING)
ROW FORMAT DELIMITED
FIELDS TERMINATED BY','
STORED AS TEXTFILE;

7. Fill the book-sale table using a joint according to column id among the tables: book and sale.

In [ ]:
INSERT OVERWRITE TABLE book_sale
SELECT b.id, b.title, s.buyer, s.purchaseDate
FROM book b JOIN sales s ON (b.id=s.id);

8. Show 10 records of the table book_sale.

In [ ]:
select * from book_sale limit 10;

9. Delete book tables, sales, and book_sale.

In [ ]:
drop table book;
drop table sales;
drop table book_sale;

PIG

1.Copy the two files ‘artists.json’ and ‘movies.json’ under HDFS.

In [ ]:
grunt>artists = LOAD 'hdfs://localhost:9000/pig_data/artists.txt' USING PigStorage(',') AS ('id: chararray, firstName:chararray,lastName:chararray, birth:chararray');
grunt>movies = LOAD 'hdfs://localhost:9000/pig_data/artists.txt' USING PigStorage(',') AS ('id:chararray, title:chararray, year:chararray,genre:chararray, summary:chararray, country:chararray,
                    director: (id:chararray,lastName:chararray,firstName:chararray,birthDate:chararray),actors: {(id:chararray, role:chararray)}');

2. Load the two files using JsonLoader

In [ ]:
grunt>artists = LOAD 'artists-pig.json'
      USING JsonLoader('id: chararray, firstName:chararray,lastName:chararray, birth:chararray');

movies = LOAD 'movies-pig.json'
  USING JsonLoader('id:chararray, title:chararray, year:chararray,genre:chararray, summary:chararray, country:chararray,
                    director: (id:chararray,lastName:chararray,firstName:chararray,birthDate:chararray),
                    actors: {(id:chararray, role:chararray)}');

3. Display the list of American films by year (show the year and the names of movies)

In [ ]:
grunt> movies = GROUP mUSA_annee BY year and country=usa;
grunt> describe movies;
movies: {group: chararray,
mUSA_annee: {title:chararray}}

4. Display each director’s list of American films

In [ ]:
movies = load 'webdam-movies.txt'
as (id:chararray,lastName:chararray,firstName:chararray,year: int, title: chararray) ;
group_direct = group movies by director;
authors = foreach group_direct generate group, movies.director;
dump director;

5. Display the triplets (idFilm, idActeur, role)

In [ ]:
grunt> triplets = GROUP actors BY idFilm;
grunt> describe triplets;
triplets: {group: chararray,
actors: {(id:chararray, role:chararray)}

6. Display for each film the complete descriptions of its actors